:root {
  --number-expand-duration: 0.5s;
  --number-color: var(--accent-color);
  --home-link-height: 6vw;
  --home-link-color: var(--number-color);
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div#container {
    text-align: center;

    a#home {
      font-style: italic;
      text-decoration: none;
      color: var(--home-link-color);
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      font-size: var(--home-link-height);
      display: inline-block;
      height: 0;
      transition-property: height;
      transition-duration: 0.5s;
      transition-delay: var(--number-expand-duration);
      overflow: hidden;
      width: 100%;
    }

    div#numbers {
      --transition-duration: 0.5s;
      color: var(--number-color);
      user-select: none;
      display: inline-block;
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      span#_4a {
        order: 0;
      }
      span#page {
        order: 1;
      }
      span#_0 {
        order: 2;
      }
      span#not {
        order: 3;
      }
      span#_4b {
        order: 4;
      }
      span#found {
        order: 5;
      }

      span {
        overflow: hidden;
        margin: 0;
        font-family: 'Rubik Mono One', monospace;
        transition: width var(--transition-duration), margin var(--transition-duration);
        &.number {
          width: 1ch;
        }
        &.word {
          width: 0ch;
        }
        font-size: 12vw;
        display: inline-block;
      }
    }

    &:hover {
      div#numbers {
        span.number {
          width: 0;
        }
        span.word {
          margin: 0 0.15ch;
          &#page {
            width: 4ch;
          }
          &#not {
            width: 3ch;
          }
          &#found {
            width: 5ch;
          }
        }
      }
      a#home {
        height: var(--home-link-height);
      }
    }
  }
}
