:root {
  --letter-expand-duration: 0.5s;
  --letter-color: var(--accent-color);
  --feed-link-height: 6vw;
  --feed-link-color: var(--letter-color);
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div#container {
    text-align: center;

    a#feed {
      font-style: italic;
      text-decoration: none;
      color: var(--feed-link-color);
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      font-size: var(--feed-link-height);
      display: inline-block;
      height: 0;
      transition-property: height;
      transition-duration: 0.5s;
      transition-delay: var(--letter-expand-duration);
      overflow: hidden;
      width: 100%;
    }

    div#letters {
      color: var(--letter-color);
      user-select: none;
      display: inline-block;
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      span#w,
      span#t,
      span#s {
        margin: 0;
        font-family: 'Rubik Mono One', monospace;
        transition: width var(--letter-expand-duration), margin var(--letter-expand-duration);
        width: 1ch;
        font-size: 12vw;
        display: inline-block;
        vertical-align: bottom;

        &::after {
          width: 0;
          transition: width var(--letter-expand-duration);
          display: inline-block;
          content: '???';
          overflow: hidden;
          vertical-align: bottom;
        }
      }
    }

    &:hover {
      div#letters {

        span#w,
        span#t,
        span#s {
          margin: 0 0.15ch;
          width: 4ch;

          &::after {
            width: 3ch;
          }
        }
      }

      a#feed {
        height: var(--feed-link-height);
      }
    }
  }
}