@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root {
  --letter-expand-duration: 0.5s;
  --subscribe-link-slide-duration: 0.5s;
  --letter-color: var(--accent-color);
  --feed-link-color: var(--letter-color);
}

body#landing {
  a {
    text-underline-offset: 1vw;

    text-decoration-thickness: 0.75vw;

    &:hover,
    &:focus {
      text-decoration-thickness: 1vw;

      &:active {
        text-decoration-thickness: 1.25vw;
      }
    }
  }

  nav a {
    position: fixed;
    font-size: clamp(1rem, 5vw, 20vh);

    &#about {
      bottom: 2vw;
      left: 2vw;
    }

    &#posts {
      bottom: 2vw;
      right: 2vw;
    }
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div#container {
      text-align: center;

      a#feed {
        font-style: italic;
        width: 100%;
        font-size: clamp(1rem, 5vw, 20vh);
        display: inline-block;
        height: 0;
        transition-property: height;
        transition-duration: var(--subscribe-link-slide-duration);
        transition-delay: var(--letter-expand-duration);
        overflow: hidden;
      }

      div#letters {
        abbr {
          text-decoration: none;
        }

        color: var(--letter-color);
        user-select: none;
        display: inline-block;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        span {
          margin: 0;
          font-family: 'Rubik Mono One', monospace;
          font-size: clamp(1rem, 10vw, 20vh);
          transition: width var(--letter-expand-duration), margin var(--letter-expand-duration);
          width: 1ch;

          display: inline-block;
          vertical-align: bottom;
          overflow: hidden;
          height: 1lh;
        }
      }

      &:hover {
        div#letters {

          span#w,
          span#t,
          span#s {
            margin: 0 0.15ch;
          }

          span#w {
            width: 5ch;
          }

          span#t {
            width: 4ch;
          }

          span#s {
            width: 5ch;
          }
        }

        a#feed {
          height: 1.5lh;
        }
      }
    }
  }
}