html {
  scroll-behavior: smooth;
  width: 100%;

  body {
    width: 100%;

    article.post {
      
      header {
        text-align: center;
        margin-bottom: 2.5rem;

        h1 {
          margin: 2rem 0;
          font-size: 2.75rem;
          font-weight: 900;
        }

        #about {
          color: var(--accent-color);
          font-style: italic;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          column-gap: 5rem;
          row-gap: 0.5rem;

          time[itemprop="datePublished"] {
            font-weight: 600;
            font-size: 2rem;
          }

          address {
            font-style: normal;
            font-weight: 600;

            a {
              text-decoration: none;
              color: inherit;
            }

            font-size: 1.5rem;
          }
        }

        img {
          width: 75%;
        }
      }

      h2 {
        margin: 1.75rem 0;
        font-size: 1.75rem;
      }

      h3 {
        margin: 1.5rem 0;
        font-size: 1.5rem;
      }

      h4 {
        margin: 1.25rem 0;
        font-size: 1.25rem;
      }

      p {
        overflow-x: auto;
        font-size: 1rem;

        &:has(+ ul) {
          margin-bottom: 0;
        }
      }
      
      ul, ol {
        overflow-x: auto;
        & > li {
          margin: 0.5rem 0;
          line-height: 2rem;
        }
      }

      blockquote {
        --left-bar-width: 0.5rem;
        margin: 1.5rem;
        margin-left: 0;
        padding-left: 1.5rem;
        position: relative;
        display: block;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          height: 100%;
          width: var(--left-bar-width);
          background-color: var(--accent-color);
          border-radius: var(--left-bar-width);
        }
      }


      --code-background: oklch(from var(--accent-color) l 0.1 h);
      --code-foreground: oklch(from var(--accent-color) calc(l + 0.6) 0.1 h);

      code {
        padding: 0.1rem 0.25rem;
        white-space: nowrap;
        a {
          color: oklch(from var(--link-color) calc(l + 0.25) c h);

          &:visited {
            color: oklch(from var(--link-color) calc(l + 0.25) c calc(h + 50))
          }
        }
      }

      code,
      pre {
        background-color: var(--code-background);
        border-color: white;
        border-radius: 0.5rem;
        color: var(--code-foreground);
      }

      pre {
        overflow: hidden;
        display: flex;
        position: relative;

        --code-padding-x: 0.75rem;

        &>code {
          white-space: inherit;
          mask-image: linear-gradient(to right,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 1) var(--code-padding-x),
              rgba(0, 0, 0, 1) calc(100% - var(--code-padding-x)),
              rgba(0, 0, 0, 0) 100%);
          margin: 0;
          background-color: unset;
          border-radius: unset;
          padding: 0.75rem var(--code-padding-x);
          overflow-x: auto;
          width: 100%;
          display: inline-block;
        }
      }
      
      img {
        object-fit: contain;
      }
    }
  }
}